
 /* - - - - MAIN VIEW - - - - */

.fill:hover,
.fill:focus {
  -webkit-box-shadow: inset 0 -3.25em 0 0 var(--hover);
          box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.fill { 
  --hover: white;
}

button {
  -webkit-transition: .3s cubic-bezier(0.8, 0.5, 0.5, 1.4);
  transition: .3s cubic-bezier(0.8, 0.5, 0.5, 1.4);
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #141E30;
}

.rotate {
  font-size: 1.2em;
}



 /* - - - - ALT VIEW - - - - */

.links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: bigIn 0.3s cubic-bezier(0.8, 0.5, 0.5, 1.4) forwards;
          animation: bigIn 0.3s cubic-bezier(0.8, 0.5, 0.5, 1.4) forwards;
}

@media (min-width: 1536px){
  .links{
    font-size: 1.2em;
  }
}

@media (min-width: 1919px){
  .links{
    font-size: 1.5em;
  }
}

@media (max-width: 414px) { 
  .links{
    font-size: 1.6em;
    margin: 0;
  }
}

.links a {
  -webkit-transition: all .3s cubic-bezier(0.8, 0.5, 0.5, 1.4);
  transition: all .3s cubic-bezier(0.8, 0.5, 0.5, 1.4);
  color: white;
  margin: 1em;
  font-size: 1em;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, white), to(white));
  background: linear-gradient(to right, white 100%, white 100%);
  background-size: 0px 2px;
  background-repeat: no-repeat;
  background-position: left 50%;
}

.links a:hover {
  background-size: 100% 2px;
}

@media (max-width: 414px) { 
  .links a{
    margin: .5em;
  }
}

@media (max-width: 320px) { 
  .links a{
    margin: .4em;
  }
}


@-webkit-keyframes bigIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bigIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
