
@media (max-width: 576px){
  .media-width{
    width: 80vw;
    margin: 0 auto;
  }
}

/* - - landscape - -  */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 824px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .landscape{
      padding-top: 5em;
    }
}