.inputs{
  border: 1px solid white;
  border-radius: .25em;
  background-color: transparent;
  padding: .7em;
  margin-bottom: 1.2em;
  resize: none;
}

.labels{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  
}

/* input{
  outline: none;
} */



input[type=text] {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 1px; 
  font-weight: 400;
}

input[type=email] {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 1px; 
  font-weight: 400;
}

textarea {
  color: white;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 1px; 
  font-weight: 400;
}

textarea:focus{
  background-color: rgba(255, 255, 255, .1);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  
}


.submit{
  border: 1px solid white;
  border-radius: .25em;
  padding: .3em 1em;
  color: white;
  background-color: transparent;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 1px; 
  font-weight: 300;
  font-size: 1.2em;
  cursor: pointer;
}


.submit:hover{
  color: rgb(175, 175, 175);
}

.submit-disabled{
  color: rgba(65, 65, 65, .5);
  border: 1px solid rgba(65, 65, 65, .5);
  border-radius: .25em;
  padding: .3em 1em;
  background-color: transparent;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 1px; 
  font-weight: 200;
  font-size: 1.2em;
  cursor: not-allowed;
}


@media (min-width: 1536px){
  .inputs{
    padding: 1em;
    margin-bottom: 1.2em;
    resize: none;
    font-size: 1.1em;
  }
  .labels{
   margin-bottom: 0.2em;
  }
}

@media (min-width: 1920px){
  .inputs{
    padding: 1.1em;
    margin-bottom: 1.2em;
    resize: none;
    font-size: 1.3em;
  }
  .labels{
   margin-bottom: 0.2em;
  }
}


